<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>You fed me!</h1>
        <p>
            Thank you for feeding me!
        </p>
    </body>
</html>
